[Desktop Entry]
Encoding=UTF-8
Name=VluCash Wallet
Comment=VluCash wallet
Exec=vlucashwallet %U
Terminal=false
Type=Application
Icon=vluvash
MimeType=x-scheme-handler/bytecoin;
Categories=Office;Finance;
